
<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Objetivo 15: </h3>
            <p>Gestionar sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la degradación de las tierras, detener la pérdida de biodiversidad</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">inicio</a>
            <a href="#">artículos</a>
            <a href="#">galería</a>
            <a href="#">formulario</a>
        </div>

        <div class="box">
            <h3>contact us</h3>
            <p> <i class="fas fa-phone"></i> +1 (917) 367-9858. </p>
            <p> <i class="fas fa-envelope"></i> webmanager@ohchr.org </p>
            <p> <i class="fas fa-map-marker-alt"></i> New York, NY 10017, Estados Unidos </p>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">youtube</a>
        </div>

    </div>

    <h1 class="credit"><a href="#"> Changoleones </a> | all rights reserved! </h1>

</div>
